@import "../02-basics/colors";
@import "../01-tools/mixins";
.banner{
  background-color: $blue;
  img.down-arrow{
    position: relative;
    margin-top: -80px;
    margin-right: -300px;
  }
  .video-embed{
    width: 100%;
    margin-top: 10px;
    .video-background{
      width: 100%;
      img{
        width: 100%;
      }
      a.video-play-button{
        text-decoration: none;
        position: absolute;
        z-index: 100;
        bottom: 25%;
        left: calc(50% - 50px);
        display: block;
        margin: 0 auto;
        opacity: 0;
        @include transition(all 0.2s ease);
        img{
          width: 100px;
        }
      }
      &:hover a.video-play-button{
        opacity: 1;
      }
    }

  }
}
