@import  "../02-basics/config";
.cta-section{
  .panel{
    margin: 20px auto;
    background-color: $white;
    border: 3px dashed #959595;
    padding: 50px;
  }
}

@media (max-width : $screen-sm) {
  .cta-section{
    .panel{
      padding: 50px 10px;
    }
  }
}
