@-ms-viewport {
  width: device-width; }

body {
  max-width: 100%; }

.row {
  width: 100%;
  float: left;
  display: block; }
  .row .container {
    display: block;
    float: none;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    width: 92%;
    padding: 0 4%;
    letter-spacing: -5px; }
    .row .container .col-2, .row .container .col-4, .row .container .col-8, .row .container .col-10 {
      display: inline-block;
      position: relative;
      letter-spacing: 0;
      text-align: center;
      min-height: 50px;
      background-color: #F2F2F2;
      width: 100%;
      margin: 5px 0px; }
      .row .container .col-2 .col-2, .row .container .col-2 .col-4, .row .container .col-2 .col-8, .row .container .col-2 .col-10, .row .container .col-4 .col-2, .row .container .col-4 .col-4, .row .container .col-4 .col-8, .row .container .col-4 .col-10, .row .container .col-8 .col-2, .row .container .col-8 .col-4, .row .container .col-8 .col-8, .row .container .col-8 .col-10, .row .container .col-10 .col-2, .row .container .col-10 .col-4, .row .container .col-10 .col-8, .row .container .col-10 .col-10 {
        float: left;
        display: block;
        margin: 0 1.351%; }
      .row .container .col-2 .col-2, .row .container .col-4 .col-2, .row .container .col-8 .col-2, .row .container .col-10 .col-2 {
        width: 14.035%; }
      .row .container .col-2 .col-4, .row .container .col-4 .col-4, .row .container .col-8 .col-4, .row .container .col-10 .col-4 {
        width: 30.703%; }
      .row .container .col-2 .col-8, .row .container .col-4 .col-8, .row .container .col-8 .col-8, .row .container .col-10 .col-8 {
        width: 64.036%; }
      .row .container .col-2 .col-10, .row .container .col-4 .col-10, .row .container .col-8 .col-10, .row .container .col-10 .col-10 {
        width: 80.710%; }

@media (max-width: 320px) {
  .row .container {
    width: 90%;
    padding: 0 5%; }
    .row .container .col-2, .row .container .col-4, .row .container .col-8, .row .container .col-10 {
      background-color: #ccc; } }

@media (min-width: 768px) {
  .row .container {
    width: 96%;
    padding: 0 2%; }
    .row .container .col-2, .row .container .col-4, .row .container .col-8, .row .container .col-10 {
      background-color: #bbb; } }

@media (min-width: 992px) {
  .row .container .col-2, .row .container .col-4, .row .container .col-8, .row .container .col-10 {
    background-color: #aaa;
    margin: 0 1.351%; }
  .row .container .col-2 {
    width: 14.035%; }
  .row .container .col-4 {
    width: 30.703%; }
  .row .container .col-8 {
    width: 64.036%; }
  .row .container .col-10 {
    width: 80.710%; } }

@media (min-width: 1200px) {
  .row .container {
    max-width: 1170px;
    width: 1110px;
    padding: 0 30px; }
    .row .container .col-2, .row .container .col-4, .row .container .col-8, .row .container .col-10 {
      background-color: #999;
      margin: 0 1.351%; }
    .row .container .col-2 {
      width: 14.414%; }
    .row .container .col-4 {
      width: 31.531%; }
    .row .container .col-8 {
      width: 65.766%; }
    .row .container .col-10 {
      width: 82.883%; }
    .row .container [class|="col"]:first-child {
      margin-left: 0px; }
    .row .container [class|="col"]:last-child {
      margin-right: 0px; } }

.row .container .col-2.pull-left, .row .container .col-4.pull-left, .row .container .col-8.pull-left, .row .container .col-10.pull-left {
  float: left;
  display: block; }
  .row .container .col-2.pull-left:first-child, .row .container .col-4.pull-left:first-child, .row .container .col-8.pull-left:first-child, .row .container .col-10.pull-left:first-child {
    margin-left: 0; }

.row .container .col-2.pull-right, .row .container .col-4.pull-right, .row .container .col-8.pull-right, .row .container .col-10.pull-right {
  float: right;
  display: block; }
  .row .container .col-2.pull-right:first-child, .row .container .col-4.pull-right:first-child, .row .container .col-8.pull-right:first-child, .row .container .col-10.pull-right:first-child {
    margin-right: 0; }

.row .container .col-2.center, .row .container .col-4.center, .row .container .col-8.center, .row .container .col-10.center {
  float: none;
  margin: 0 auto;
  display: block; }
