@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@font-face {
  font-family: Antonio;
  src: url("../fonts/antonio/Antonio-Regular.ttf"); }

body, h1, h2, h3, h4, h5, h6, p, span, div, ul, ol, li, a, button, input, select {
  font-family: 'Open Sans', sans-serif;
  line-height: 100%;
  letter-spacing: normal; }
  body.text-center, body .text-center, h1.text-center, h1 .text-center, h2.text-center, h2 .text-center, h3.text-center, h3 .text-center, h4.text-center, h4 .text-center, h5.text-center, h5 .text-center, h6.text-center, h6 .text-center, p.text-center, p .text-center, span.text-center, span .text-center, div.text-center, div .text-center, ul.text-center, ul .text-center, ol.text-center, ol .text-center, li.text-center, li .text-center, a.text-center, a .text-center, button.text-center, button .text-center, input.text-center, input .text-center, select.text-center, select .text-center {
    text-align: center; }
  body.text-left, body .text-left, h1.text-left, h1 .text-left, h2.text-left, h2 .text-left, h3.text-left, h3 .text-left, h4.text-left, h4 .text-left, h5.text-left, h5 .text-left, h6.text-left, h6 .text-left, p.text-left, p .text-left, span.text-left, span .text-left, div.text-left, div .text-left, ul.text-left, ul .text-left, ol.text-left, ol .text-left, li.text-left, li .text-left, a.text-left, a .text-left, button.text-left, button .text-left, input.text-left, input .text-left, select.text-left, select .text-left {
    text-align: left; }
  body.text-right, body .text-right, h1.text-right, h1 .text-right, h2.text-right, h2 .text-right, h3.text-right, h3 .text-right, h4.text-right, h4 .text-right, h5.text-right, h5 .text-right, h6.text-right, h6 .text-right, p.text-right, p .text-right, span.text-right, span .text-right, div.text-right, div .text-right, ul.text-right, ul .text-right, ol.text-right, ol .text-right, li.text-right, li .text-right, a.text-right, a .text-right, button.text-right, button .text-right, input.text-right, input .text-right, select.text-right, select .text-right {
    text-align: right; }
  body.text-justify, body .text-justify, h1.text-justify, h1 .text-justify, h2.text-justify, h2 .text-justify, h3.text-justify, h3 .text-justify, h4.text-justify, h4 .text-justify, h5.text-justify, h5 .text-justify, h6.text-justify, h6 .text-justify, p.text-justify, p .text-justify, span.text-justify, span .text-justify, div.text-justify, div .text-justify, ul.text-justify, ul .text-justify, ol.text-justify, ol .text-justify, li.text-justify, li .text-justify, a.text-justify, a .text-justify, button.text-justify, button .text-justify, input.text-justify, input .text-justify, select.text-justify, select .text-justify {
    text-align: justify; }
  body.color-white, body .color-white, h1.color-white, h1 .color-white, h2.color-white, h2 .color-white, h3.color-white, h3 .color-white, h4.color-white, h4 .color-white, h5.color-white, h5 .color-white, h6.color-white, h6 .color-white, p.color-white, p .color-white, span.color-white, span .color-white, div.color-white, div .color-white, ul.color-white, ul .color-white, ol.color-white, ol .color-white, li.color-white, li .color-white, a.color-white, a .color-white, button.color-white, button .color-white, input.color-white, input .color-white, select.color-white, select .color-white {
    color: #ffffff; }
  body.color-blue, body .color-blue, h1.color-blue, h1 .color-blue, h2.color-blue, h2 .color-blue, h3.color-blue, h3 .color-blue, h4.color-blue, h4 .color-blue, h5.color-blue, h5 .color-blue, h6.color-blue, h6 .color-blue, p.color-blue, p .color-blue, span.color-blue, span .color-blue, div.color-blue, div .color-blue, ul.color-blue, ul .color-blue, ol.color-blue, ol .color-blue, li.color-blue, li .color-blue, a.color-blue, a .color-blue, button.color-blue, button .color-blue, input.color-blue, input .color-blue, select.color-blue, select .color-blue {
    color: #1C9ED7; }
  body.color-blueDark, body .color-blueDark, h1.color-blueDark, h1 .color-blueDark, h2.color-blueDark, h2 .color-blueDark, h3.color-blueDark, h3 .color-blueDark, h4.color-blueDark, h4 .color-blueDark, h5.color-blueDark, h5 .color-blueDark, h6.color-blueDark, h6 .color-blueDark, p.color-blueDark, p .color-blueDark, span.color-blueDark, span .color-blueDark, div.color-blueDark, div .color-blueDark, ul.color-blueDark, ul .color-blueDark, ol.color-blueDark, ol .color-blueDark, li.color-blueDark, li .color-blueDark, a.color-blueDark, a .color-blueDark, button.color-blueDark, button .color-blueDark, input.color-blueDark, input .color-blueDark, select.color-blueDark, select .color-blueDark {
    color: #1B74A8; }
  body.color-orange, body .color-orange, h1.color-orange, h1 .color-orange, h2.color-orange, h2 .color-orange, h3.color-orange, h3 .color-orange, h4.color-orange, h4 .color-orange, h5.color-orange, h5 .color-orange, h6.color-orange, h6 .color-orange, p.color-orange, p .color-orange, span.color-orange, span .color-orange, div.color-orange, div .color-orange, ul.color-orange, ul .color-orange, ol.color-orange, ol .color-orange, li.color-orange, li .color-orange, a.color-orange, a .color-orange, button.color-orange, button .color-orange, input.color-orange, input .color-orange, select.color-orange, select .color-orange {
    color: #F96B22; }
  body.color-black, body .color-black, h1.color-black, h1 .color-black, h2.color-black, h2 .color-black, h3.color-black, h3 .color-black, h4.color-black, h4 .color-black, h5.color-black, h5 .color-black, h6.color-black, h6 .color-black, p.color-black, p .color-black, span.color-black, span .color-black, div.color-black, div .color-black, ul.color-black, ul .color-black, ol.color-black, ol .color-black, li.color-black, li .color-black, a.color-black, a .color-black, button.color-black, button .color-black, input.color-black, input .color-black, select.color-black, select .color-black {
    color: #1A1B1B; }
  body.color-blackLight, body .color-blackLight, h1.color-blackLight, h1 .color-blackLight, h2.color-blackLight, h2 .color-blackLight, h3.color-blackLight, h3 .color-blackLight, h4.color-blackLight, h4 .color-blackLight, h5.color-blackLight, h5 .color-blackLight, h6.color-blackLight, h6 .color-blackLight, p.color-blackLight, p .color-blackLight, span.color-blackLight, span .color-blackLight, div.color-blackLight, div .color-blackLight, ul.color-blackLight, ul .color-blackLight, ol.color-blackLight, ol .color-blackLight, li.color-blackLight, li .color-blackLight, a.color-blackLight, a .color-blackLight, button.color-blackLight, button .color-blackLight, input.color-blackLight, input .color-blackLight, select.color-blackLight, select .color-blackLight {
    color: #171818; }
  body.color-blackLighter, body .color-blackLighter, h1.color-blackLighter, h1 .color-blackLighter, h2.color-blackLighter, h2 .color-blackLighter, h3.color-blackLighter, h3 .color-blackLighter, h4.color-blackLighter, h4 .color-blackLighter, h5.color-blackLighter, h5 .color-blackLighter, h6.color-blackLighter, h6 .color-blackLighter, p.color-blackLighter, p .color-blackLighter, span.color-blackLighter, span .color-blackLighter, div.color-blackLighter, div .color-blackLighter, ul.color-blackLighter, ul .color-blackLighter, ol.color-blackLighter, ol .color-blackLighter, li.color-blackLighter, li .color-blackLighter, a.color-blackLighter, a .color-blackLighter, button.color-blackLighter, button .color-blackLighter, input.color-blackLighter, input .color-blackLighter, select.color-blackLighter, select .color-blackLighter {
    color: #333333; }
  body.strong, body .strong, body strong, h1.strong, h1 .strong, h1 strong, h2.strong, h2 .strong, h2 strong, h3.strong, h3 .strong, h3 strong, h4.strong, h4 .strong, h4 strong, h5.strong, h5 .strong, h5 strong, h6.strong, h6 .strong, h6 strong, p.strong, p .strong, p strong, span.strong, span .strong, span strong, div.strong, div .strong, div strong, ul.strong, ul .strong, ul strong, ol.strong, ol .strong, ol strong, li.strong, li .strong, li strong, a.strong, a .strong, a strong, button.strong, button .strong, button strong, input.strong, input .strong, input strong, select.strong, select .strong, select strong {
    font-weight: bold; }
  body.light, body .light, h1.light, h1 .light, h2.light, h2 .light, h3.light, h3 .light, h4.light, h4 .light, h5.light, h5 .light, h6.light, h6 .light, p.light, p .light, span.light, span .light, div.light, div .light, ul.light, ul .light, ol.light, ol .light, li.light, li .light, a.light, a .light, button.light, button .light, input.light, input .light, select.light, select .light {
    font-weight: 100; }

h1, h2, h3 {
  font-weight: bold; }

h1 {
  font-size: 40px;
  line-height: 45px;
  margin: 30px auto; }

h2 {
  font-size: 35px;
  line-height: 40px;
  margin: 25px auto; }

h3 {
  font-size: 30px;
  line-height: 35px;
  margin: 20px auto; }

h4 {
  font-size: 25px;
  line-height: 30px;
  margin: 15px auto; }

h5 {
  font-size: 22px;
  line-height: 30px;
  margin: 15px auto; }

h6 {
  line-height: 24px;
  font-size: 18px;
  margin: 5px auto; }

p, ul, ol {
  font-size: 18px;
  color: #171818;
  line-height: 24px;
  margin: 15px 0; }
  p .intro, ul .intro, ol .intro {
    font-size: 22px;
    color: #1C9ED7; }

@media (max-width: 992px) {
  h1 {
    font-size: 32px;
    line-height: 40px; }
  h2 {
    font-size: 28px;
    line-height: 34px; }
  h3 {
    font-size: 24px;
    line-height: 30px; }
  h4 {
    font-size: 20px;
    line-height: 26px; }
  h5 {
    font-size: 16px;
    line-height: 22px; }
  h6 {
    font-size: 14px;
    line-height: 20px; }
  p {
    font-size: 16px;
    line-height: 20px; } }

.name h4 {
  margin-bottom: 0; }

.name h5 {
  margin-top: 0; }
