.btn {
  display: inline-block;
  position: relative;
  max-width: 670px;
  text-decoration: none;
  text-align: center !important;
  padding: 20px 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer; }
  .btn.cta {
    background-color: #F96B22; }
    .btn.cta h2 {
      margin: 0; }
    .btn.cta:hover {
      background-color: #ed6402; }
  .btn.btn-tw, .btn.btn-fb, .btn.btn-gp {
    color: #ffffff;
    padding: 0px 0px;
    margin: 0 7px;
    height: 52px;
    width: auto;
    vertical-align: middle !important;
    display: inline-block; }
    .btn.btn-tw span.caption, .btn.btn-fb span.caption, .btn.btn-gp span.caption {
      padding: 17px;
      display: inline;
      vertical-align: middle !important;
      overflow: auto;
      float: left; }
    .btn.btn-tw::before, .btn.btn-fb::before, .btn.btn-gp::before {
      content: '';
      display: inline-block;
      background-image: url("/asset/images/social-button-logos.png");
      background-repeat: no-repeat;
      height: 52px;
      width: 52px;
      overflow: hidden;
      float: left; }
    .btn.btn-tw::after, .btn.btn-fb::after, .btn.btn-gp::after {
      content: '';
      display: block;
      top: 0px;
      left: 52px;
      position: absolute;
      height: 52px;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.3); }
  .btn.btn-tw {
    background-color: #51d6f8; }
    .btn.btn-tw::before {
      background-position: 0px 0px; }
    .btn.btn-tw:hover {
      background-color: #4fd0f0; }
  .btn.btn-fb {
    background-color: #355091; }
    .btn.btn-fb::before {
      background-position: -52px 0px; }
    .btn.btn-fb:hover {
      background-color: #2a4073; }
  .btn.btn-gp {
    background-color: #2a2a2a; }
    .btn.btn-gp::before {
      background-position: -104px 0px; }
    .btn.btn-gp:hover {
      background-color: #121212; }
  .btn.notClickable {
    display: block !important;
    appearance: window !important;
    -moz-appearance: window !important;
    /* Firefox */
    -webkit-appearance: window !important;
    /* Safari and Chrome */
    cursor: default !important; }
