@font-face {
  font-family: Antonio;
  src:url('/asset/fonts/antonio/Antonio-Regular.ttf');
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

@import  "config";

// Styles and alignments
body,h1,h2,h3,h4,h5,h6,p,span,div,ul,ol,li,a,button,input,select{
  font-family: 'Open Sans', sans-serif;
  line-height: 100%;
  letter-spacing: normal;
  // Alignments
  &.text-center, .text-center{
    text-align: center;
  }
  &.text-left, .text-left{
    text-align: left;
  }
  &.text-right, .text-right{
    text-align: right;
  }
  &.text-justify, .text-justify{
    text-align: justify;
  }
  // Colors
  &.color-white, .color-white{
    color: $white;
  }
  &.color-blue, .color-blue{
    color: $blue;
  }
  &.color-blueDark, .color-blueDark{
    color: $blue-dark;
  }
  &.color-orange, .color-orange{
    color: $orange;
  }
  &.color-black, .color-black{
    color: $black;
  }
  &.color-blackLight, .color-blackLight{
    color: $black-light;
  }
  &.color-blackLighter, .color-blackLighter{
    color: $black-lighter;
  }
  // Weights
  &.strong, .strong, strong{
    font-weight: bold;
  }
  &.light, .light{
    font-weight: 100;
  }
}

// Header
h1,h2,h3{
  font-weight: bold;
}
h1{
  font-size: 40px;
  line-height: 45px;
  margin: 30px auto;
}
h2{
  font-size: 35px;
  line-height: 40px;
  margin: 25px auto;
}
h3{
  font-size: 30px;
  line-height: 35px;
  margin: 20px auto;
}
h4{
  font-size: 25px;
  line-height: 30px;
  margin: 15px auto;
}
h5{
  font-size: 22px;
  line-height: 30px;
  margin: 15px auto;
}
h6{
  line-height: 24px;
  font-size: 18px;
  margin: 5px auto;
}
// Content
p,ul,ol{
  font-size: 18px;
  color: #171818;
  line-height: 24px;
  margin: 15px 0;
  .intro{
    font-size: 22px;
    color: #1C9ED7;
  }
}

@media (max-width: $screen-md) {
  h1{font-size: 32px; line-height: 40px;}
  h2{font-size: 28px; line-height: 34px;}
  h3{font-size: 24px; line-height: 30px;}
  h4{font-size: 20px; line-height: 26px;}
  h5{font-size: 16px; line-height: 22px;}
  h6{font-size: 14px; line-height: 20px;}
  p{font-size: 16px; line-height: 20px;}

}
.name{
  h4{
    margin-bottom: 0;
  }
  h5{
    margin-top: 0;
  }
}
